<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <script src="https://use.fontawesome.com/eb448271e0.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script src="{% static "js/clock.js" %}"></script>

    <!-- begin favicons -->
     <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/apple-icon-57x57.png" %}">
     <link rel="apple-touch-icon" sizes="60x60" href="{% static "img/apple-icon-60x60.png" %}">
     <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/apple-icon-72x72.png" %}">
      <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/apple-icon-76x76.png" %}">
      <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/apple-icon-114x114.png" %}">
      <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/apple-icon-120x120.png" %}">
      <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/apple-icon-144x144.png" %}">
      <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/apple-icon-152x152.png" %}">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/apple-icon-180x180.png" %}">
      <link rel="icon" type="image/png" sizes="192x192"  href="{% static "img/android-icon-192x192.png" %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon-32x32.png" %}">
      <link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicon-96x96.png" %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon-16x16.png" %}">
      <meta name="msapplication-TileColor" content="#1b1464">
      <meta name="msapplication-TileImage" content="{% static "img/ms-icon-144x144.png" %}">
    <!-- end favicons -->
    <title>Fachschaftsempfänger</title>
  </head>

  <body onload="startTime()">
    <div id="header">
      <div id="header-left" class="headerbox">
          <img src="{% static "img/fsilogo.png" %}" alt="Logo FSI" />&nbsp;</div>
        <div id="header-center" class="headerbox">
        <h2>Fachschaftsempfänger&trade;</h2></div>
      <div id="header-right" class="headerbox">
        <h2>
          <span id="date"></span>
          <span id="time"></span>
        </h2>
      </div>
    </div> <!-- /header -->
    <div id="col-container">
      <!-- Spalte 1 -->
      <div class="col">
        <div id="mensa"></div>
          <div id="foodtruck"></div>
      </div><!-- /col -->
        <!-- Spalte 2 -->
      <div class="col">
        <div id="weather"></div>
        <div id="forecast"></div>
      </div> <!-- /col -->
      <!-- Spalte 3 -->
      <div class="col">
        <div id="calendar"></div>
        <div id="sitzung"></div>
      </div> <!-- /col -->
      <!-- Spalte 4 -->
      <div class="col">
        <div id="bus"></div>
        <div id="ad"></div>
      </div> <!-- /col -->
  </div> <!-- /col-container -->
    {% if copyright and repo_url %}
    <div id="footer">
        &copy; {{ copyright }}&nbsp; &bullet; &nbsp; <i class="fa fa-code-fork"></i> <a href="{{ repo_url }}">Fork this on GitHub<span>: {{ repo_url }}</span></a>
    </div>
    {% endif %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>
     (function() {
         var tiles = [
           {id: 'mensa', url: '/tiles/mensa.html', timeout: 4320, height: 2, color: 'purple'},
           {id: 'foodtruck', url: '/tiles/foodtruck.html', timeout: 4320, height: 2, color: 'purple'},
           {id: 'weather', url: '/tiles/weather.html', timeout: 100, height: 1, color: 'green'},
           {id: 'forecast', url: '/tiles/forecast.html', timeout: 120, height: 2, color: 'green'},
           {id: 'bus', url: '/tiles/bus.html', timeout: 30, height: 2, color: 'orange'},
           {id: 'sitzung', url: '/tiles/sitzung.html', timeout: 5000, height: 1, color: 'red'},
           {id: 'calendar', url: '/tiles/calendar.html', timeout: 5000, height: 2, color: 'red'},
           {id: 'ad', url: '/tiles/ad.html', timeout: 300, height: 2, color: 'lightblue'},



//             , {id: 'regenradar', url: '/tiles/rainradar.html', timeout: 1800, color: 'green'}
//             , {id: 'calendar', url: '/tiles/calendar.html', timeout: 400, color: 'red'}
//             , {id: 'transport', url: '/tiles/transport.html', timeout: 30, color: 'blue'}
         ];

         for (var tileIndex in tiles) {
             (function (tile) {
                 try {
                     function loadTile() {
                         try {
                             $('#'+tile.id).load(tile.url, function () {
                                 $(this).find('.col-item').addClass(tile.color);
                                 $(this).find('.col-item').addClass('height'+tile.height);
                             });
                         } catch (err) {
                             if(console && console.warn && tile) {
                                 console.warn("Failed updating tile '"+tile.id+"'.");
                             }
                         }
                     }
                     loadTile();
                     if (tile.timeout !== undefined) {
                         setInterval(loadTile, tile.timeout * 1000);
                     }
                 } catch (err) {
                     if(console && console.warn && tile) {
                         console.warn("Failed setting up tile '"+tile.id+"'.");
                     }
                 }
             })(tiles[tileIndex]);
         }
     })();
    </script>
</body>
</html>
