include MANIFEST.in
include README.rst
include LICENSE.txt
include requirements.txt
recursive-include fachschaftsempfaenger/static *
recursive-include fachschaftsempfaenger/templates *
graft fachschaftsempfaenger
graft docs
global-exclude __pycache__
prune docs/build
