asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==4.2.20
icalendar==6.1.1
idna==3.10
lxml==5.3.0
Pillow==11.0.0
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
urllib3==2.4.0
