asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==4.2.18
icalendar==6.0.1
idna==3.10
lxml==5.3.0
Pillow==11.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.16.0
sqlparse==0.5.2
urllib3==2.2.3
