{% extends 'tiles/tile.html' %}

{% block content %}
<div class="col-item-header" id="termine-header">
  <i class="fa fa-calendar"></i>Fachschaftstermine
</div>
  {% if events %}
      <table>
      {%  for date, time, title, location in events %}
          <tr>
              <td><span class="small">{{ date }}</span><br /><span class="small">{{ time }} Uhr</span></td><td>{{ title }}<br /><span class="small">{{ location }}</span></td>
          </tr>
      {% endfor %}
      </table>
  {% else %}
      Derzeit sind keine Events geplant
  {% endif %}
{% endblock %}
