{% extends 'tiles/tile.html' %}

{% block content %}
    <div class="col-item-header">
        <i class="fa fa-cutlery"></i>Mensa {{ name }}
    </div>
    {% if meals and date %}
        <span class="food_date">{{ date }}</span>
        <div class="food_table_container" id="food_table_container">
            <table class="food_table" id="food_table">
                <thead>
                <tr>
                    <th>Speise</th>
                    <th>Preis</th>
                </tr>
                </thead>
                <tbody>
                {% for food, student_price in meals %}
                    <tr>
                        <td>{{ food }}</td>
                        <td>{{ student_price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        Kein Speiseplan verfügbar
    {% endif %}
{% endblock %}
