{% extends 'tiles/tile.html' %}

{% block content %}

<div class="col-item-header" id="sitzung-header">
  <i class="fa fa-clock-o"></i>Nächste Fachschaftssitzung
</div>
<table>
  <tr>
    {% load static %}
    <td><div class="info-logo"><img src="{% static "img/logo_fsi.svg" %}"></div></td>
    <td><div class="kogni-logo"><img src="{% static "img/logo_kogni.svg" %}"></div></td>
  </tr>
  <tr>
    <td>
      {% if info %}
        {{ info.date }}
      {% else %}
        TBA
      {% endif %}
    </td>
    <td>
      {% if kogni %}
        {{ kogni.date }}
      {% else %}
        TBA
      {% endif %}
    </td>
  </tr>
  {% if info or kogni %}
    <tr>
      <td>
        {{ info.time }}
      </td>
      <td>
        {{ kogni.time }}
      </td>
    </tr>
    <tr>
      <td>
        {{ info.location }}
      </td>
      <td>
        {{ kogni.location }}
      </td>
    </tr>
  {% endif %}
</table>

{% endblock %}
