{% extends 'tiles/tile.html' %}

{% block content %}
<div class="col-item-header" id="weather-header">
          <i class="fa fa-cloud"></i>Wetter
</div>
<div id="weathericons">
    <div class="icon-weather">&nbsp;{{weather}}</div>
    <div class="icon-rain">&nbsp;{{rain}}</div>
    <div class="icon-raintype">&nbsp;{{rain_type}}</div>
    <div class="icon-clouds">&nbsp;{{clouds}}</div>
    <div class="icon-humidity">&nbsp;{{humidity}}</div>
    <div class="icon-pressure">&nbsp;{{pressure}}&nbsp;hPa</div>
</div>
<div id="temperature">
    <div>
        <span>{{temperature}}</span>{{temperature_unit}}
    </div>
    <div>
        <span>{{wind_strength}}</span> km/h
        <strong>{{wind_direction}}</strong>
    </div>
</div>
{% endblock %}
